<div class="container">
	<hr>
	e-mail: info@de-core.net,
	skype: de-core,
	icq: 363353152,
	группы <a href="#">вконтакте</a> и <a href="#">facebook</a>
	<span class="pull-right">© 2013 ООО «ДЕКОР.НЕТ»</span>
</div>
<br>