<div class="header container tac clearfix">
	<br>
	<a href="/">{% include "svg/de-core.svg" %}</a>
	<h2>
		<small>Мы сделаем современный и индивидуальный сайт без лишних вопросов</small>
		<br>
		просто, быстро и надолго
	</h2>
	<br>
	<hr>
</div>