@font-face
	font-family: 'Rouble'
	src: url('../font/rouble-webfont.eot')
	src: url('../font/rouble-webfont.eot?#iefix') format('embedded-opentype'), url('../font/rouble-webfont.woff') format('woff'), url('../font/rouble-webfont.ttf') format('truetype'), url('../font/rouble-webfont.svg#als_rublregular') format('svg')
	font-weight: normal
	font-style: normal
.rouble
	font-family: 'Rouble'
