@import compass
@import font-rouble

body
	background: url(../img/content-bg.png)
.tac
	text-align: center
.text-success
	color: #468847
.badge-large
	font-size: 30px
	line-height: 40px
	margin: 0 20px 10px
small
	color: #555 !important

.header
	h2
		margin-top: 20px
	.de-core-logo
		float: left
		&:hover .circle
			fill: #3a87ad !important

.components
	display: table
	text-align: center
	margin: 0 auto
	div
		display: table-cell