@font-face {
  font-family: "Rouble";
  src: url("../font/rouble-webfont.eot");
  src: url("../font/rouble-webfont.eot?#iefix") format("embedded-opentype"), url("../font/rouble-webfont.woff") format("woff"), url("../font/rouble-webfont.ttf") format("truetype"), url("../font/rouble-webfont.svg#als_rublregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 7, ../../assets/sass/_font-rouble.sass */
.rouble {
  font-family: "Rouble";
}

/* line 4, ../../assets/sass/application.sass */
body {
  background: url(../img/content-bg.png);
}

/* line 6, ../../assets/sass/application.sass */
.tac {
  text-align: center;
}

/* line 8, ../../assets/sass/application.sass */
.text-success {
  color: #468847;
}

/* line 10, ../../assets/sass/application.sass */
.badge-large {
  font-size: 30px;
  line-height: 40px;
  margin: 0 20px 10px;
}

/* line 14, ../../assets/sass/application.sass */
small {
  color: #555555 !important;
}

/* line 18, ../../assets/sass/application.sass */
.header h2 {
  margin-top: 20px;
}
/* line 20, ../../assets/sass/application.sass */
.header .de-core-logo {
  float: left;
}
/* line 22, ../../assets/sass/application.sass */
.header .de-core-logo:hover .circle {
  fill: #3a87ad !important;
}

/* line 25, ../../assets/sass/application.sass */
.components {
  display: table;
  text-align: center;
  margin: 0 auto;
}
/* line 29, ../../assets/sass/application.sass */
.components div {
  display: table-cell;
}
