{% extends "base.html" %}
{% block title %}404{% endblock %}
{% block content %}
<div class="container">
	<div class="span12">
		<h1 class="left-bordered">Страница в разработке.</h1>
	</div>
</div>
{% endblock %}