<!doctype html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<link rel="icon" type="image/png" href="/static/img/favicons/favicon.png">
		<link rel="apple-touch-icon-precomposed" href="/static/img/favicons/apple-touch-favicon.png">
		<script src="/static/js/html5.js"></script>
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/css/application.css" rel="stylesheet">
	</head>
	<body>
		<div id="wrapper">
			{% include "partials/header.html" %}
			<article class="container">
				{% block content %}{% endblock %}
			</article>
			<div class="push"></div>
		</div>
		{% include "partials/footer.html" %}
	</body>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

	<link rel="stylesheet" href="/static/js/fileupload/css/jquery.fileupload-ui.css">
	<noscript><link rel="stylesheet" href="/static/js/fileupload/css/jquery.fileupload-ui-noscript.css"></noscript>
	<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
	<script src="/static/js/fileupload/js/vendor/jquery.ui.widget.js"></script>
	<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
	<script src="/static/js/fileupload/js/jquery.iframe-transport.js"></script>
	<!-- The basic File Upload plugin -->
	<script src="/static/js/fileupload/js/jquery.fileupload.js"></script>
	<!-- The File Upload file processing plugin -->
	<script src="/static/js/fileupload/js/jquery.fileupload-fp.js"></script>
	<!-- The File Upload user interface plugin -->
	<script src="/static/js/fileupload/js/jquery.fileupload-ui.js"></script>
	<!-- The main application script -->
	<script src="/static/js/fileupload/js/main.js"></script>
	<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE8+ -->
	<!--[if gte IE 8]><script src="/static/js/fileupload/js/cors/jquery.xdr-transport.js"></script><![endif]-->
</html>
