{% extends "base.html" %}
{% block title %}Главная{% endblock %}
{% block content %}
<div class="components">
	<div>
		<h4>Сделаем за</h4>
		<span class="badge badge-info badge-large">1 день</span>
	</div>
	<div>
		<h4>За работу возьмем</h4>
		<span class="badge badge-info badge-large">3000<span class="rouble">i</span> единоразово</span>
	</div>
	<div>
		<h4>Поддержка</h4>
		<span class="badge badge-info badge-large">300<span class="rouble">i</span> в месяц</span>
	</div>
</div>
<hr>

<div class="row tac">
	<h2>Преимущества</h2>
	<br>
	<div class="row tac benefits">
		<div class="span4">
			<h4>Простота</h4>
			{% include "svg/simple.svg" %}
			<h4>
				<small>мы не задаем лишних вопросов</small>
			</h4>
		</div>
		<div class="span4">
			<h4>Поддержка</h4>
			{% include "svg/support.svg" %}
			<h4>
				<small>личный менеджер всегда поможет</small>
			</h4>
		</div>
		<div class="span4">
			<h4>Перспектива</h4>
			{% include "svg/perspective.svg" %}
			<h4>
				<small>сделаем все, что пожелаете</small>
			</h4>
		</div>
	</div>

</div>
<hr>

<div class="row tac">
	<h2>Технологии</h2>
	<br>
	{% include "svg/tech4.svg" %}
</div>
<hr>

<div class="tac">
	<a href="/order" class="btn btn-large btn-primary">Заполнить заявку на сайт</a>
</div>
{% endblock %}