{% extends "base.html" %}
{% block title %}Заказ сайта{% endblock %}
{% block content %}
<form class="form-horizontal">

	<h3>Начните заказ сайта</h3>

	<legend>Шаг 1: Представьтесь</legend>
	<div class="control-group">
		<label class="control-label" for="#"><span class="text-error">*</span> Фамилия</label>
		<div class="controls">
			<input type="text" id="#">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="#"><span class="text-error">*</span> Имя</label>
		<div class="controls">
			<input type="text" id="#">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="#"><span class="text-error">*</span> Отчество</label>
		<div class="controls">
			<input type="text" id="#">
		</div>
	</div>

	<legend>Шаг 2: Контакты для связи</legend>
	<div class="row">
		<div class="span6">
			<div class="control-group">
				<label class="control-label" for="#"><span class="text-error">*</span> E-Mail</label>
				<div class="controls">
					<input type="text" id="i#">
				</div>
			</div>
		</div>
		<div class="span6">
			<div class="control-group">
				<label class="control-label" for="#">Skype</label>
				<div class="controls">
					<input type="text" id="#">
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span6">
			<div class="control-group">
				<label class="control-label" for="#">ICQ</label>
				<div class="controls">
					<input type="text" id="#">
				</div>
			</div>
		</div>
		<div class="span6">
			<div class="control-group">
				<label class="control-label" for="#">Вконтакте</label>
				<div class="controls">
					<input type="text" id="#">
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span6">
			<div class="control-group">
				<label class="control-label" for="#">Facebook</label>
				<div class="controls">
					<input type="text" id="#">
				</div>
			</div>
		</div>
		<div class="span6">
			<div class="control-group">
				<label class="control-label" for="#">Телефон</label>
				<div class="controls">
					<input type="text" id="#">
				</div>
			</div>
		</div>
	</div>

	<legend>Шаг 3: Постановка задачеи <small>Опишите, для чего нужен сайт</small></legend>
	<div class="control-group">
		<label class="control-label" for="#"><span class="text-error">*</span> Форма деятельности</label>
		<div class="controls">
			<input type="text" id="#" class="span9" placeholder="Пример: розничные продажи">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="#"><span class="text-error">*</span> Ключевые задачи</label>
		<div class="controls">
			<textarea rows="10" class="span9" placeholder="Пример: представительство в интернете, канал продаж, связь с клиентами"></textarea>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="#"><span class="text-error">*</span> Предпочтительные модули</label>
		<div class="controls">
			<div class="row-fluid">
				<div class="span3">
					<label class="checkbox">
						<input type="checkbox"> Онлайн расчеты
					</label>
					<label class="checkbox">
						<input type="checkbox"> Загрузка файлов
					</label>
				</div>
				<div class="span3">
					<label class="checkbox">
						<input type="checkbox"> Админка
					</label>
					<label class="checkbox">
						<input type="checkbox"> Магазин
					</label>
				</div>
				<div class="span3">
					<label class="checkbox">
						<input type="checkbox"> Почтовый сервис
					</label>
					<label class="checkbox">
						<input type="checkbox"> Сервис рассылок
					</label>
				</div>
				<div class="span3">
					<label class="checkbox">
						<input type="checkbox"> Блог
					</label>
					<label class="checkbox">
						<input type="checkbox"> Форум
					</label>
				</div>
			</div>
		</div>
	</div>

	<legend>Шаг 4: Материалы</legend>
	<p>Для решения задач наилучшим способом нам нужно как можно больше материалов для сайта. Вы можете приложить неограниченное количество файлов - статьи, логотип, раздаточные материалы, брендбук и другие.</p>

	<!-- The file upload form used as target for the file upload widget -->
	<form id="fileupload" action="//jquery-file-upload.appspot.com/" method="POST" enctype="multipart/form-data">
		<!-- Redirect browsers with JavaScript disabled to the origin page -->
		<noscript><input type="hidden" name="redirect" value="http://blueimp.github.com/jQuery-File-Upload/"></noscript>
		<!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
		<div class="row fileupload-buttonbar">
			<div class="span8">
				<!-- The fileinput-button span is used to style the file input field as button -->
				<span class="btn btn-success fileinput-button">
					<i class="icon-plus icon-white"></i>
					<span>Добавить файлы...</span>
					<input type="file" name="files[]" multiple>
				</span>
				<button type="submit" class="btn btn-primary start">
					<i class="icon-upload icon-white"></i>
					<span>Начать загрузку</span>
				</button>
				<button type="reset" class="btn btn-warning cancel">
					<i class="icon-ban-circle icon-white"></i>
					<span>Отменить загрузку</span>
				</button>
				<button type="button" class="btn btn-danger delete">
					<i class="icon-trash icon-white"></i>
					<span>Удалить</span>
				</button>
				<input type="checkbox" class="toggle">
			</div>
			<!-- The global progress information -->
			<div class="span5 fileupload-progress fade">
				<!-- The global progress bar -->
				<div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
					<div class="bar" style="width:0%;"></div>
				</div>
				<!-- The extended global progress information -->
				<div class="progress-extended">&nbsp;</div>
			</div>
		</div>
		<!-- The loading indicator is shown during file processing -->
		<div class="fileupload-loading"></div>
		<br>
		<!-- The table listing the files available for upload/download -->
		<table role="presentation" class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
	</form>

	<legend>Шаг 5: Домен</legend>
	<p>Домен - это имя сайта. Красивое и запоминающееся имя - еще одна часть успеха сайта. Если у Вас нет домена - вы его можете подобрать или мы сами предложим лучшие варианты.</p>
	<div class="control-group">
		<label class="control-label" for="#">Домен</label>
		<div class="controls">
			<input type="text" id="#"><span class="help-inline text-success">Домен свободен - он будет зарегистрирован при создании сайта</span>
		</div>
	</div>

	<legend>Шаг 6: Соглашение</legend>
	<p>Прочитайте <a href="/agreement">соглашение</a> и нажмите кнопку "Оформить заказ". В течении нескольких часов с вами свяжется менеджер.</p>
	<hr>

	<div class="tac">
		<button type="submit" class="btn btn-primary btn-large">Отправить заявку</button>
		<a href="/agreement" class="btn btn-large">Ознакомиться с соглашением</a>
	</div>

</form>
{% endblock %}